*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#alert{
    position: absolute;
    right: 0;
    top: 90px;
}
a{
    text-decoration: none;
}
p{
    margin: 0;
}

.wid-70{
    width: 70%;
    margin: auto;
}